.App {
  text-align: center;
}
.Myinfo {
  display: flex;
}
.Profile{
  margin-bottom: 25px;
}
.ProfileInformetion{
  text-align: left;
  margin-left: 20px;
}
.Profile-Image{
  width: 150px;
  height: 150px;
  margin-left: 35px;
  border-radius: 30px;
  border: 5px solid coral;
}
.Profile-button{
  width: 100%;
}
.button-pro{
  border: none;
  background-color: coral;
  width: 95%;
  padding: 10px;
  border-radius: 10px;
  color: whitesmoke;
  font-weight: bold;
  font-size: medium;
}